####################### BASIC DETAIL #####################
SERVER_NAME=[SportBook]
SERVER_PORT=3000
SERVER_PATH=http://localhost:3000/
###########################################################

########################### DATABASE ###########################
SPORTS_BOOK_DATABASE_HOST=localhost
SPORTS_BOOK_DATABASE_DRIVER=mysql
SPORTS_BOOK_DATABASE_USERNAME=root
SPORTS_BOOK_DATABASE_PASSWORD=
SPORTS_BOOK_DATABASE_NAME=db_sports_book
#################################################################